main {
  padding: 0 10%;
}

h1 {
  font-family: 'Sigmar One', cursive;
  padding: 0.5em;
  text-align: center;
  margin-bottom: 0.5em;
  border-radius: 1em;
}

fieldset {
  background: url('../img/grey.png');
  padding: 5%;
  border-radius: 1.5em;
  margin-bottom: 1em;
}

legend {
  padding: 0.5em;
  border-radius: 1em;
  font-weight: bold;
  background: white;
  border: 0.1em green solid;
  text-align: center;
}

button {
  float: right;
}

form {
  background: rgba(0,255,0, 0.5);
  padding: 2em;
  border-radius: 1.5em;
}

textarea {
  width: 100%;
  height: 10em;
}

label {
  display: inline-block;
  width: 40%;
}

input {
  width: 45%;
}

audio {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 5em;
}

